@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.image-authentication{
    width: 1538px;
    height: 100vh;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}

.body{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.wrapper-authentication{
  max-width: 480px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: none;
  margin: auto;
  position: absolute;
  align-items: center;
}

.login{
  top:22%;
  left: 34%;
}

.signup{
  top:5%;
  left: 34%;
}

.wrapper-authentication h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper-authentication h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 27px;
  border-radius: 12px;
  background: #03b821;
}

.wrapper-authentication > form{
  width: 450px;
}
.wrapper-authentication form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 85%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #03d426;
  cursor: pointer;
  width: 480px;
}
.input-box.button input:hover{
  background: #aeaeaf;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #03b821;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

.wrapper-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}